# ENVIRONMENT=aws
ENVIRONMENT=local
LOGGING_FORMAT="%(log_color)s[%(asctime)-23s]  %(module)-12s | %(funcName)s() | p%(process)-d | t%(threadName)s || %(message)s %(reset)s"

BALANCER_HOST=127.0.0.1
BALANCER_PORT=23456
# URL_MAP_HOST=balancing-service
URL_MAP_HOST=localhost

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
